---
import BgSvg from '../components/BgSvg.astro'
import Layout from '../components/Layout.astro'
---

<Layout title="Simple Tic Tac Toe Game">
    <main>
        <BgSvg />
        <div id="content">
            <div class="header py-4">
                <h1 class="text-myColor text-7xl">
                    <span class="text-basePurp">Tic</span>
                    <span class="text-lightCol">Tac</span>
                    <span class="text-basePurp">Toe</span>
                </h1>
                <p class="text-xl text-lightCol my-4">
                    This is a very simple but elegant game of Tic Tac Toe.<br />
                    The first player to move will be 'X'
                </p>
            </div>
            <div class="text-2xl text-white">
                <span class="scoreboard mr-12"
                    >X- <span class="scoreboard_X"></span></span
                >
                <span class="scoreboard ml-12"
                    >O- <span class="scoreboard_O"></span></span
                >
            </div>
            <div class="winnerMsg mt-4 mb-2 text-white text-3xl"></div>
            <div class="game">
                <div class="board border-basePurp">
                    <div class="row">
                        <div
                            class="cell border-basePurp text-basePurp hover:bg-lightCol"
                            id="0"
                        >
                        </div>
                        <div
                            class="cell border-basePurp text-basePurp hover:bg-lightCol"
                            id="1"
                        >
                        </div>
                        <div
                            class="cell border-basePurp text-basePurp hover:bg-lightCol"
                            id="2"
                        >
                        </div>
                    </div>
                    <div class="row">
                        <div
                            class="cell border-basePurp text-basePurp hover:bg-lightCol"
                            id="3"
                        >
                        </div>
                        <div
                            class="cell border-basePurp text-basePurp hover:bg-lightCol"
                            id="4"
                        >
                        </div>
                        <div
                            class="cell border-basePurp text-basePurp hover:bg-lightCol"
                            id="5"
                        >
                        </div>
                    </div>
                    <div class="row">
                        <div
                            class="cell border-basePurp text-basePurp hover:bg-lightCol"
                            id="6"
                        >
                        </div>
                        <div
                            class="cell border-basePurp text-basePurp hover:bg-lightCol"
                            id="7"
                        >
                        </div>
                        <div
                            class="cell border-basePurp text-basePurp hover:bg-lightCol"
                            id="8"
                        >
                        </div>
                    </div>
                </div>
                <button
                    class="restart bg-lightCol text-white rounded hover:bg-white hover:text-lightCol"
                    id="restart">Restart</button
                >
            </div>
        </div>
    </main>
</Layout>
<style>
    .cell:active {
        background-color: #fff !important;
    }
</style>
