---
import BgSvg from '../components/BgSvg.astro'
import Layout from '../components/Layout.astro'
---

<Layout title="Simple Tic Tac Toe Game">
    <main>
        <BgSvg />
        <div id="content">
            <div class="header py-4">
                <div class="w-[80%] md:w-[40%] h-auto mx-auto">
                    <img
                        class="w-full md:w-3/4 xl:w-1/2 h-auto relative mx-auto"
                        src="/Images/ticTactoe.png"
                        alt="Tic Tac Toe"
                    />
                </div>

                <h1 class="text-myColor hidden text-7xl">
                    <span class="text-basePurp">Tic</span>
                    <span class="text-lightCol">Tac</span>
                    <span class="text-basePurp">Toe</span>
                </h1>
                <div class="my-4">
                    <button
                        id="hide"
                        class="py-2 px-4 rounded bg-darkPurp duration-700 ease-in-out hover:bg-lightest hover:text-darkPurp text-center text-lightest"
                    >
                        Hide
                    </button>
                </div>
                <div class="w-[85%] lg:w-1/2 h-auto relative mx-auto">
                    <p
                        id="directions"
                        class="text-xl text-lightest text-center px-6 my-4"
                    >
                        This is a very simple but elegant game of Tic Tac Toe.
                        The first player to move will be 'X' and the second
                        player will be 'O'. Use the restart button to clear the
                        board, first player to reach 10 points is the 'Grand
                        Winner'!
                    </p>
                </div>
                <div class="text-3xl text-white">
                    <span class="scoreboard mr-12"
                        >X- <span class="scoreboard_X"></span></span
                    >
                    <span class="scoreboard ml-12"
                        >O- <span class="scoreboard_O"></span></span
                    >
                </div>
                <div class="winnerMsg mt-4 mb-2 text-white text-3xl"></div>
                <div class="grandWin_audio"></div>
                <div class="my-4 text-white mx-auto text-center text-3xl">
                    <span class="w-12 hearts hidden inline-block h-auto">
                        <img
                            src="/Images/Gifs/heartbeat2.gif"
                            alt="Heartbeating"
                        />
                    </span>
                    <span class="grandWin blink"></span>
                    <span class="w-12 hearts hidden inline-block h-auto">
                        <img
                            src="/Images/Gifs/heartbeat2.gif"
                            alt="Heartbeating"
                        />
                    </span>
                </div>
                <div class="game">
                    <div class="board border-basePurp">
                        <div class="row">
                            <div
                                class="cell border-basePurp text-basePurp hover:bg-lightCol"
                                id="0"
                            >
                            </div>
                            <div
                                class="cell border-basePurp text-basePurp hover:bg-lightCol"
                                id="1"
                            >
                            </div>
                            <div
                                class="cell border-basePurp text-basePurp hover:bg-lightCol"
                                id="2"
                            >
                            </div>
                        </div>
                        <div class="row">
                            <div
                                class="cell border-basePurp text-basePurp hover:bg-lightCol"
                                id="3"
                            >
                            </div>
                            <div
                                class="cell border-basePurp text-basePurp hover:bg-lightCol"
                                id="4"
                            >
                            </div>
                            <div
                                class="cell border-basePurp text-basePurp hover:bg-lightCol"
                                id="5"
                            >
                            </div>
                        </div>
                        <div class="row">
                            <div
                                class="cell border-basePurp text-basePurp hover:bg-lightCol"
                                id="6"
                            >
                            </div>
                            <div
                                class="cell border-basePurp text-basePurp hover:bg-lightCol"
                                id="7"
                            >
                            </div>
                            <div
                                class="cell border-basePurp text-basePurp hover:bg-lightCol"
                                id="8"
                            >
                            </div>
                        </div>
                    </div>
                    <div class="my-4">
                        <button
                            class="inline mr-2 restart bg-lightCol text-white rounded hover:bg-white hover:text-lightCol"
                            id="restart">Restart</button
                        >
                    </div>
                </div>
            </div>
        </div>
    </main>
    <style>
        .cell:active {
            background-color: #fff !important;
        }
        .blink {
            animation: blink-animation 1s steps(5, start) infinite;
            -webkit-animation: blink-animation 1s steps(5, start) infinite;
        }
        @keyframes blink-animation {
            to {
                visibility: hidden;
            }
        }
        @-webkit-keyframes blink-animation {
            to {
                visibility: hidden;
            }
        }

        .no-select {
            -webkit-touch-callout: none !important; /* iOS Safari */
            -webkit-user-select: none !important; /* Safari, Chrome, Opera, Samsung */
            -khtml-user-select: none !important; /* Konqueror HTML */
            -moz-user-select: none !important; /* Firefox */
            -ms-user-select: none !important; /* Edge, IE */
            user-select: none !important; /* Modern browsers */
            pointer-events: none;
        }
    </style>
</Layout>
