---
const today = new Date()
---

<footer class="w-100vw text-lightest py-12 h-auto mt-48">
    <div class="text-center">
        <a
            class="mx-2 duration-700 ease-in-out hover:text-lightest/50"
            target="_blank"
            href="https://github.com/xxxcodeingxxx">Github</a
        >
        <a
            class="mx-2 duration-700 ease-in-out hover:text-lightest/50"
            target="_blank"
            href="https://www.facebook.com/john.downs.5872/">Facebook</a
        >
        <a
            class="mx-2 duration-700 ease-in-out hover:text-lightest/50"
            target="_blank"
            href="https://www.instagram.com/hank_the_tank_dawg/">Instagram</a
        >
    </div>
    <div class="text-center">
        &copy; {today.getFullYear()} Elegant Tic Tac Toe. All Rights Reserved
    </div>
</footer>
